// Name: Gulp variables
// Author: Cristi Corcoveanu (http://www.ccorcov.ninja.com)

// !Colors
// ==|=========================================================================
$color_lite-gray: #f7f7f7;
$color-default: #575757;
$color_blue: #54b3e6;
$color_blue--shadow: #43a7dd;
$color_green: #5dc390;
$color_green--shadow: #4bbc87;

// !Typography
// ==|=========================================================================
$font_family-default: 'Roboto', sans-serif;

$font-size-base: 100%;
$font-size-base-px: 16px;

// ! Remify & Emify values
// ==|=========================================================================
@function rem($value) {
  @return #{$value/16}rem;
}
@function em($value) {
  @return #{$value/16}em;
}